*{
    box-sizing: border-box;
}


.check__theme{
    position: absolute;
    z-index: 100;
    left: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 60px;
    height: 30px;

    border: none;
    background: #5a9dfb;
    border-radius: 25px;
    padding: 2px 6px;
}

.check__theme .circle{
    position: absolute;
    transform: translateX(-4px);

    display: block;
    width: 27px;
    height: 27px;

    border-radius: 50%;
    background: #0c6ff9;

    transition: all .3s;
}

.check__theme.black__theme .circle{
    transform: translateX(24.5px);
    transition: all .3s;
}

.check__theme .off, .check__theme .on{
    color: white;
}



.black__theme .check__theme{
    background: #383838;
}

.black__theme .circle{
    background: #0f0f0f;
}