

.item__delete{
    width: max-content;
    height: max-content;
    display: block;
    position: absolute;
    right: -23px;
    z-index: 100;
}

.data__subitem label{
    display: none;
}
.data__subitem.label label{
    display: block;
}